## Import libraries

In [13]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import broadcast

## Create a sparksession object

In [14]:
spark = (SparkSession.builder
         .appName("perform-joins")
         .master("spark://spark-master:7077")
         .config("spark.executor.memory", "512m")
         .getOrCreate()
        )

## Create the dataframe

In [15]:
cards_df = (spark.read.format("csv")
            .option("header", "true")
            .option("nullValue", "null")
            .load("../../data/Credit Card/CardBase.csv")
           )

customers_df = (spark.read.format("csv")
            .option("header", "true")
            .option("nullValue", "null")
            .load("../../data/Credit Card/CustomerBase.csv")
           )

transactions_df = (spark.read.format("csv")
                   .option("header", "true")
                   .option("nullValue", "null")
                   .load("../../data/Credit Card/TransactionBase.csv")
                  )

fraud_df = (spark.read.format("csv")
                   .option("header", "true")
                   .option("nullValue", "null")
                   .load("../../data/Credit Card/FraudBase.csv")
                  )

## Inner join Cards and Customers (All cards have a customer associated with it)

In [16]:
customer_cards_df = (cards_df.join(customers_df,
                                   on = "Cust_ID",
                                   how ='inner'))

customer_cards_df.show()

+-------+-------------------+-----------+------------+---+----------------+----------------------+
|Cust_ID|        Card_Number|Card_Family|Credit_Limit|Age|Customer_Segment|Customer_Vintage_Group|
+-------+-------------------+-----------+------------+---+----------------+----------------------+
|CC55858|2868-5606-5152-5706|       Gold|       27000| 30|         Diamond|                   VG1|
|CC46077|6876-7378-4945-3251|       Gold|       44000| 49|         Diamond|                   VG1|
|CC46484|5556-4557-4566-1540|       Gold|       45000| 49|         Diamond|                   VG1|
|CC59340|5618-9718-9367-2102|       Gold|       14000| 25|         Diamond|                   VG1|
|CC62994|1652-7516-1273-1992|   Platinum|      180000| 48|         Diamond|                   VG1|
|CC43841|7212-8665-7734-5918|   Platinum|       55000| 30|         Diamond|                   VG1|
|CC21312|7837-4036-5999-1672|       Gold|       24000| 45|         Diamond|                   VG1|
|CC90510|6262-7793-5307-8561|    Premium|      542000| 33|         Diamond|                   VG1|
|CC91701|6071-3874-2856-8755|       Gold|       22000| 45|         Diamond|                   VG1|
|CC36447|4973-1293-1664-2086|       Gold|       23000| 43|         Diamond|                   VG1|
|CC66746|4864-7119-5608-7611|    Premium|      781000| 44|         Diamond|                   VG1|
|CC57048|6547-1222-2350-2503|       Gold|       28000| 47|         Diamond|                   VG1|
|CC66044|5583-9751-6086-5673|    Premium|      160000| 37|         Diamond|                   VG1|
|CC35402|9386-8854-6115-4075|       Gold|       20000| 26|         Diamond|                   VG1|
|CC95631|3001-2844-6540-3608|       Gold|       28000| 39|         Diamond|                   VG1|
|CC42497|3573-2839-9869-7747|   Platinum|      167000| 23|         Diamond|                   VG1|
|CC42497|6045-2636-8278-8875|   Platinum|       88000| 23|         Diamond|                   VG1|
|CC18336|6750-4821-2334-9977|       Gold|       30000| 28|         Diamond|                   VG1|
|CC78973|3440-1978-8156-5313|    Premium|      749000| 27|         Diamond|                   VG1|
|CC41731|9930-4634-8565-6716|    Premium|      492000| 35|         Diamond|                   VG1|
+-------+-------------------+-----------+------------+---+----------------+----------------------+
only showing top 20 rows

### Alternate approach if they have different column names

customer_cards_df = cards_df.join(customers_df, 
                                  cards_df["Cust_ID"] == customers_df["Cust_ID"], 
                                  how="inner")

## Left Outer Join transactions and frauds (not all transactions are frauds)

In [17]:
trans_frauds_df = (transactions_df.join(fraud_df,
                                        transactions_df["Transaction_ID"] == fraud_df["Transaction_ID"],
                                        how = 'left_outer')
                  )

trans_frauds_df.show()

+--------------+----------------+-------------------+-----------------+-------------------+--------------+----------+
|Transaction_ID|Transaction_Date|     Credit_Card_ID|Transaction_Value|Transaction_Segment|Transaction_ID|Fraud_Flag|
+--------------+----------------+-------------------+-----------------+-------------------+--------------+----------+
|  CTID28830551|       24-Apr-16|1629-9566-3285-2123|            23649|              SEG25|          null|      null|
|  CTID45504917|       11-Feb-16|3697-6001-4909-5350|            26726|              SEG16|          null|      null|
|  CTID47312290|        1-Nov-16|5864-4475-3659-1440|            22012|              SEG14|          null|      null|
|  CTID25637718|       28-Jan-16|5991-4421-8476-3804|            37637|              SEG17|          null|      null|
|  CTID66743960|       17-Mar-16|1893-8853-9900-8478|             5113|              SEG14|          null|      null|
|  CTID22308010|       15-May-16|5206-5979-9383-4538|             9551|              SEG13|          null|      null|
|  CTID41917614|       11-Jul-16|5129-6974-6371-2964|            29511|              SEG13|          null|      null|
|  CTID24523483|       26-Jul-16|9930-4634-8565-6716|            27830|              SEG21|          null|      null|
|  CTID59109135|       16-Jan-16|4092-8604-7363-3393|            35328|              SEG18|          null|      null|
|  CTID62465865|        6-Nov-16|3594-2190-6052-1265|             9567|              SEG21|          null|      null|
|  CTID17879551|       25-Oct-16|5349-1963-8417-8327|            40606|              SEG17|          null|      null|
|  CTID24250639|       30-Apr-16|5689-2440-9593-1931|            35617|              SEG17|          null|      null|
|  CTID14284190|       31-Jul-16|1616-5911-1676-5466|             5014|              SEG18|          null|      null|
|  CTID65086055|       20-Nov-16|8177-5533-1183-4063|            47634|              SEG12|          null|      null|
|  CTID83907454|        3-Nov-16|2056-7091-8023-1914|            12061|              SEG22|          null|      null|
|  CTID50406334|       27-Dec-16|4971-8219-1133-6753|             8073|              SEG18|          null|      null|
|  CTID99443343|        1-Dec-16|8691-3939-1859-5937|            10138|              SEG25|          null|      null|
|  CTID18591064|        5-Jun-16|8706-3809-5167-3899|            46113|              SEG19|          null|      null|
|  CTID64008410|        2-Jul-16|2495-1344-4998-6045|            39195|              SEG23|          null|      null|
|  CTID99000301|       31-Oct-16|7047-9622-9693-9968|            18604|              SEG11|          null|      null|
+--------------+----------------+-------------------+-----------------+-------------------+--------------+----------+
only showing top 20 rows

## Identify customers who have experienced a fradulent transaction (complex conditions)

### Join customer_cards_df with trans_fraud_df (with a condition where fraud_flag is not null)

In [18]:
joinExpression = ((customer_cards_df["Card_Number"] == trans_frauds_df["Credit_Card_ID"]) & (trans_frauds_df['Fraud_Flag'].isNotNull()))


customer_with_fraud_df = (customer_cards_df.join(trans_frauds_df,
                                                 on = joinExpression,
                                                 how = 'inner'))

customer_with_fraud_df.show(5, truncate = False)

+-------+-------------------+-----------+------------+---+----------------+----------------------+--------------+----------------+-------------------+-----------------+-------------------+--------------+----------+
|Cust_ID|Card_Number        |Card_Family|Credit_Limit|Age|Customer_Segment|Customer_Vintage_Group|Transaction_ID|Transaction_Date|Credit_Card_ID     |Transaction_Value|Transaction_Segment|Transaction_ID|Fraud_Flag|
+-------+-------------------+-----------+------------+---+----------------+----------------------+--------------+----------------+-------------------+-----------------+-------------------+--------------+----------+
|CC87306|5734-5619-8469-4044|Gold       |36000       |30 |Diamond         |VG1                   |CTID26555772  |11-Jan-16       |5734-5619-8469-4044|683              |SEG22              |CTID26555772  |1         |
|CC87034|6722-7299-6082-7974|Gold       |34000       |36 |Platinum        |VG2                   |CTID30763806  |17-Dec-16       |6722-7299-6082-7974|40751            |SEG21              |CTID30763806  |1         |
|CC26034|1947-8602-1695-7503|Gold       |10000       |42 |Platinum        |VG2                   |CTID29266043  |12-Oct-16       |1947-8602-1695-7503|21713            |SEG14              |CTID29266043  |1         |
|CC68010|7199-6959-4688-2302|Gold       |49000       |47 |Gold            |VG3                   |CTID13865418  |17-Feb-16       |7199-6959-4688-2302|33073            |SEG23              |CTID13865418  |1         |
|CC14547|4265-2692-1676-5635|Premium    |683000      |42 |Platinum        |VG2                   |CTID26134025  |25-Aug-16       |4265-2692-1676-5635|37279            |SEG24              |CTID26134025  |1         |
+-------+-------------------+-----------+------------+---+----------------+----------------------+--------------+----------------+-------------------+-----------------+-------------------+--------------+----------+
only showing top 5 rows

## Other scenarios

### Right outer join

right_join = df1.join(df2, 
                      df1['common_column']==df2['common_column'],
                      how = 'right_outer')

## Full outer join

full_join = df1.join(df2, 
                     on= 'common_column',
                     how = 'outer'
                    )

## Cross Join

cross_join = df1.crossJoin(df2)

## BroadCast Join

When joining large datasets, Spark may need to reshuffle data accross network which may be slow and 
resource-intensive.

However, if one of the datasets is small enough to fit in memory,we can use the broadcast join to speed up
the join operation and avoid shuffling. 

In broadcast join, Spark broadcasts the small dataset to all worker nodes which cna then be used to perform
join locally. 

To use broadcast join, we can call the broadcast() function on the smaller dataset.

broadcast_join = df1.join(broadcast(df2), ["Column_1", "Column2"], 
                          "inner")

broadcast_join.show()

## Multiple Join conditions

### Performing Inner join on multiple columns

multi_join = df1.join(df2,
                      on = ['Name', 'Gender', 'Age'],
                      how = 'inner')

multi_join.show()

In [19]:
spark.stop()