## Import libraries and Create a SparkSession Object

In [1]:
from pyspark.sql import SparkSession

spark = (SparkSession.builder
         .appName("read-csv-data")
         .master("spark://spark-master:7077")
         .config("spark.executor.memory", "512m")
         .getOrCreate())

spark.sparkContext.setLogLevel("Error")

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/07 15:26:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## Reading the csv data

In [4]:
df = (spark.read.format("csv")
      .option("header","true")
      .load("../../data/netflix_titles.csv"))

## Display sample data

In [5]:
df.show(5)

+-------+-------+--------------------+---------------+--------------------+-------------+------------------+------------+------+---------+--------------------+--------------------+
|show_id|   type|               title|       director|                cast|      country|        date_added|release_year|rating| duration|           listed_in|         description|
+-------+-------+--------------------+---------------+--------------------+-------------+------------------+------------+------+---------+--------------------+--------------------+
|     s1|  Movie|Dick Johnson Is Dead|Kirsten Johnson|                null|United States|September 25, 2021|        2020| PG-13|   90 min|       Documentaries|As her father nea...|
|     s2|TV Show|       Blood & Water|           null|Ama Qamata, Khosi...| South Africa|September 24, 2021|        2021| TV-MA|2 Seasons|International TV ...|After crossing pa...|
|     s3|TV Show|           Ganglands|Julien Leclercq|Sami Bouajila, Tr...|         null|September 24, 2021|        2021| TV-MA| 1 Season|Crime TV Shows, I...|To protect his fa...|
|     s4|TV Show|Jailbirds New Orl...|           null|                null|         null|September 24, 2021|        2021| TV-MA| 1 Season|Docuseries, Reali...|Feuds, flirtation...|
|     s5|TV Show|        Kota Factory|           null|Mayur More, Jiten...|        India|September 24, 2021|        2021| TV-MA|2 Seasons|International TV ...|In a city of coac...|
+-------+-------+--------------------+---------------+--------------------+-------------+------------------+------------+------+---------+--------------------+--------------------+
only showing top 5 rows

## Check the data types of the columns (Schema)

In [7]:
df.printSchema()

root
 |-- show_id: string (nullable = true)
 |-- type: string (nullable = true)
 |-- title: string (nullable = true)
 |-- director: string (nullable = true)
 |-- cast: string (nullable = true)
 |-- country: string (nullable = true)
 |-- date_added: string (nullable = true)
 |-- release_year: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- listed_in: string (nullable = true)
 |-- description: string (nullable = true)

Observations:

We could see that some of the columns are not of the correct datatype.(date_added, release_year, rating, duration etcc.)

We can define our own schema while reading the data.

## Read the csv data with an explicit schema

In [10]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,DateType

schema = StructType(
    [StructField("showid", StringType(), True), #True means the column is nullable or not
     StructField("type", StringType(), True),
     StructField("title", StringType(), True)
     .....



##### I want to avoid this manual typing of each column.So, I create a dictionary and edit it

### First I create a dictionary from the column names and datatypes

In [20]:
schema_dict = {field.name : field.dataType for field in df.schema.fields}
schema_dict

{'show_id': StringType(),
 'type': StringType(),
 'title': StringType(),
 'director': StringType(),
 'cast': StringType(),
 'country': StringType(),
 'date_added': StringType(),
 'release_year': StringType(),
 'rating': StringType(),
 'duration': StringType(),
 'listed_in': StringType(),
 'description': StringType()}

### I modify the dictionary with my required datatypes

In [21]:
modifications = {
    'date_added': DateType(),
    'release_year': DateType()
}

In [23]:
schema_dict.update(modifications)

schema_dict

{'show_id': StringType(),
 'type': StringType(),
 'title': StringType(),
 'director': StringType(),
 'cast': StringType(),
 'country': StringType(),
 'date_added': DateType(),
 'release_year': DateType(),
 'rating': StringType(),
 'duration': StringType(),
 'listed_in': StringType(),
 'description': StringType()}

Note:


1.	Do not assign .update() to a variable → .update() modifies schema_dict in place.
2.	Use .update() directly → The dictionary will be modified without needing reassignment.

### Then I create the schema

In [29]:
from pprint import pprint

In [30]:
schema = StructType([StructField(name, dtype, True)  for name, dtype in schema_dict.items()])

pprint(schema)

StructType([StructField('show_id', StringType(), True), StructField('type', StringType(), True), StructField('title', StringType(), True), StructField('director', StringType(), True), StructField('cast', StringType(), True), StructField('country', StringType(), True), StructField('date_added', DateType(), True), StructField('release_year', DateType(), True), StructField('rating', StringType(), True), StructField('duration', StringType(), True), StructField('listed_in', StringType(), True), StructField('description', StringType(), True)])

## Read csv data with explicitly defined schema

In [39]:
df = spark.read.format('csv')\
                .option("header", "true")\
                .schema(schema)\
                .load("../../data/netflix_titles.csv")

In [36]:
df.printSchema()

root
 |-- show_id: string (nullable = true)
 |-- type: string (nullable = true)
 |-- title: string (nullable = true)
 |-- director: string (nullable = true)
 |-- cast: string (nullable = true)
 |-- country: string (nullable = true)
 |-- date_added: date (nullable = true)
 |-- release_year: date (nullable = true)
 |-- rating: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- listed_in: string (nullable = true)
 |-- description: string (nullable = true)

In [37]:
df.show(5)

+-------+-------+--------------------+---------------+--------------------+-------------+----------+------------+------+---------+--------------------+--------------------+
|show_id|   type|               title|       director|                cast|      country|date_added|release_year|rating| duration|           listed_in|         description|
+-------+-------+--------------------+---------------+--------------------+-------------+----------+------------+------+---------+--------------------+--------------------+
|     s1|  Movie|Dick Johnson Is Dead|Kirsten Johnson|                null|United States|      null|  2020-01-01| PG-13|   90 min|       Documentaries|As her father nea...|
|     s2|TV Show|       Blood & Water|           null|Ama Qamata, Khosi...| South Africa|      null|  2021-01-01| TV-MA|2 Seasons|International TV ...|After crossing pa...|
|     s3|TV Show|           Ganglands|Julien Leclercq|Sami Bouajila, Tr...|         null|      null|  2021-01-01| TV-MA| 1 Season|Crime TV Shows, I...|To protect his fa...|
|     s4|TV Show|Jailbirds New Orl...|           null|                null|         null|      null|  2021-01-01| TV-MA| 1 Season|Docuseries, Reali...|Feuds, flirtation...|
|     s5|TV Show|        Kota Factory|           null|Mayur More, Jiten...|        India|      null|  2021-01-01| TV-MA|2 Seasons|International TV ...|In a city of coac...|
+-------+-------+--------------------+---------------+--------------------+-------------+----------+------------+------+---------+--------------------+--------------------+
only showing top 5 rows

## Reading csv when delimiter value is present within the data

In [40]:
df = spark.read.format("csv")\
                .option("header", "true")\
                .option("nullValue", "null")\
                .option("escapeQuotes", "true")\
                .schema(schema)\
                .load("../../data/netflix_titles.csv")

In [41]:
df.show(5)

+-------+-------+--------------------+---------------+--------------------+-------------+----------+------------+------+---------+--------------------+--------------------+
|show_id|   type|               title|       director|                cast|      country|date_added|release_year|rating| duration|           listed_in|         description|
+-------+-------+--------------------+---------------+--------------------+-------------+----------+------------+------+---------+--------------------+--------------------+
|     s1|  Movie|Dick Johnson Is Dead|Kirsten Johnson|                null|United States|      null|  2020-01-01| PG-13|   90 min|       Documentaries|As her father nea...|
|     s2|TV Show|       Blood & Water|           null|Ama Qamata, Khosi...| South Africa|      null|  2021-01-01| TV-MA|2 Seasons|International TV ...|After crossing pa...|
|     s3|TV Show|           Ganglands|Julien Leclercq|Sami Bouajila, Tr...|         null|      null|  2021-01-01| TV-MA| 1 Season|Crime TV Shows, I...|To protect his fa...|
|     s4|TV Show|Jailbirds New Orl...|           null|                null|         null|      null|  2021-01-01| TV-MA| 1 Season|Docuseries, Reali...|Feuds, flirtation...|
|     s5|TV Show|        Kota Factory|           null|Mayur More, Jiten...|        India|      null|  2021-01-01| TV-MA|2 Seasons|International TV ...|In a city of coac...|
+-------+-------+--------------------+---------------+--------------------+-------------+----------+------------+------+---------+--------------------+--------------------+
only showing top 5 rows

1. .option("nullValue", "null")

This option treats a specific string as NULL when loading the CSV.

Explanation
	•	If the CSV contains "null", Spark will replace it with None (NULL in DataFrame).
	•	If not specified, "null" will be treated as a regular string instead of an actual NULL.


✅ Without .option("nullValue", "null"), “null” would appear as a string instead of NULL.

2. .option("escapeQuotes", "true")

This option ensures proper handling of double quotes (") inside quoted strings.

Why is this needed?

Sometimes, CSV fields are enclosed in quotes, and those fields might contain additional quotes inside. Without escapeQuotes, Spark may misinterpret them.

Example

show_id,type,title,description
s1,Movie,"Inception","A mind-bending thriller ""dream"" experience"
s2,Show,"Breaking Bad","A chemistry teacher turns to ""cooking"""


df = spark.read.format("csv")\
                .option("header", "true")\
                .option("escapeQuotes", "true")\  # Handles escaped quotes
                .load("netflix_titles.csv")

df.show(truncate=False)

+--------+------+--------------+-------------------------------------------------+
| show_id| type | title        | description                                     |
+--------+------+--------------+-------------------------------------------------+
| s1     | Movie| Inception    | A mind-bending thriller "dream" experience     |
| s2     | Show | Breaking Bad | A chemistry teacher turns to "cooking"         |
+--------+------+--------------+-------------------------------------------------+

✅ Without .option("escapeQuotes", "true"), the presence of extra quotes (""dream"") would break parsing.

## Different Dateformat

In [46]:
df = spark.read.format("csv")\
                .option("header", "true")\
                .option("nullValue", "null")\
                .option("dateFormat", "LLLL d,y")\
                .option("escapeQuotes", "true")\
                .schema(schema)\
                .load("../../data/netflix_titles.csv")

In [47]:
df.show(5)

+-------+-------+--------------------+---------------+--------------------+-------------+----------+------------+------+---------+--------------------+--------------------+
|show_id|   type|               title|       director|                cast|      country|date_added|release_year|rating| duration|           listed_in|         description|
+-------+-------+--------------------+---------------+--------------------+-------------+----------+------------+------+---------+--------------------+--------------------+
|     s1|  Movie|Dick Johnson Is Dead|Kirsten Johnson|                null|United States|      null|        null| PG-13|   90 min|       Documentaries|As her father nea...|
|     s2|TV Show|       Blood & Water|           null|Ama Qamata, Khosi...| South Africa|      null|        null| TV-MA|2 Seasons|International TV ...|After crossing pa...|
|     s3|TV Show|           Ganglands|Julien Leclercq|Sami Bouajila, Tr...|         null|      null|        null| TV-MA| 1 Season|Crime TV Shows, I...|To protect his fa...|
|     s4|TV Show|Jailbirds New Orl...|           null|                null|         null|      null|        null| TV-MA| 1 Season|Docuseries, Reali...|Feuds, flirtation...|
|     s5|TV Show|        Kota Factory|           null|Mayur More, Jiten...|        India|      null|        null| TV-MA|2 Seasons|International TV ...|In a city of coac...|
+-------+-------+--------------------+---------------+--------------------+-------------+----------+------------+------+---------+--------------------+--------------------+
only showing top 5 rows

PySpark follows Java’s SimpleDateFormat pattern, so you can use various date format patterns:

| Format                             | Example Input                   | Pattern                     |
|------------------------------------|--------------------------------|-----------------------------|
| Full Month Name, Day, Year        | December 25, 2020             | `"LLLL d,y"`                |
| Short Month Name, Day, Year       | Dec 25, 2020                  | `"MMM d,y"`                 |
| Day-Month-Year                    | 25-12-2020                    | `"dd-MM-yyyy"`              |
| Year-Month-Day (ISO Format)       | 2020-12-25                    | `"yyyy-MM-dd"`              |
| Month/Day/Year                    | 12/25/2020                    | `"MM/dd/yyyy"`              |
| Day/Month/Year                    | 25/12/2020                    | `"dd/MM/yyyy"`              |
| Year-Month-Day Hour:Minute        | 2020-12-25 14:30              | `"yyyy-MM-dd HH:mm"`        |
| Full Date & Time                  | Fri, 25 Dec 2020 14:30:00 GMT | `"EEE, d MMM yyyy HH:mm:ss z"` |

## Infer Schema by Pyspark

.option("inferSchema", "true")

## Handling missing data

.option("nullValue", "NA") # for a file where "NA" represents null values

## Handling malformed data

.option("mode", "PERMISSIVE") # to ignore parsing errors and continue parsing the file

## Working with large CSV files

.option("maxColumns", 5000)

Use Case
	•	If a CSV file has an extremely high number of columns (e.g., 1000+), this option prevents memory overload.
	•	Default: 20480 columns (20,480).
	•	If the CSV has more columns than the set limit, Spark throws an error.

✅ If the CSV has 10,000 columns but maxColumns=5000, Spark throws an error.


.option("maxCharsPerColumn", value)

This option sets the maximum number of characters allowed in a single column entry.

Use Case
	•	Useful when dealing with text-heavy datasets, such as:
	•	Product descriptions
	•	Large JSON fields inside CSV
	•	Long article content
	•	Default: 100000 characters (100K).

	•	Default: 100000 characters (100K).
	•	If a field exceeds the limit, Spark truncates the value or throws an error.

 ✅ If a column contains text longer than maxCharsPerColumn=50000, Spark truncates it.

## Read large CSV files as a stream

from pyspark.sql import SparkSession

# Create Spark Session
spark = SparkSession.builder.appName("StreamingExample").getOrCreate()

# Read a streaming CSV file
df = spark.readStream.format("csv")\
    .option("header", "true")\
    .option("maxFilesPerTrigger", 1)\  # Processes one file at a time
    .schema("id INT, name STRING, age INT")\  # Define schema for structured streaming
    .load("path/to/streaming_folder")  # Directory where new files appear

df.printSchema()